.wrapper{ 
  height: 100%;
}
.titleText {
  font-size: var(--twentyTwo);
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
}

.cardFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem;
}

.cardWrap {
  width: 20rem;
  height: 13rem;
  display: flex;
  background: #fff;
  border: 1px solid #dedddd;
  border-radius: 9px;
  margin-bottom: 1.5rem;
}

.bar {
  width: 0.75rem;
  height: 100%;
  background: #271871;
  border-radius: 10px 0px 0px 10px;
}

.card {
  width: 100%;
  padding: 0.75rem 1rem;
}

.cardImage {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #dedddd;
}

.cardTexts {
  margin-top: 0.75rem;
}

.text {
  font-size: var(--fourteen);
  line-height: 1.2rem;
}

.button {
  width: fit-content;
  padding: .5rem 1rem;
  text-align: center;
  font-size: var(--sixteen);
  font-weight: 500;
  color: #000;
  background: #dedddd;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 2rem auto;
}

.button:hover {
  transform: scale(0.95, 0.95);
}

.cardButtons {
  display: flex;
  justify-content: space-around;
  margin: 1rem 2rem 2rem;
}

.next {
  width: 7rem;
  height: 1.75rem;
  text-align: center;
  font-size: var(--sixteen);
  background: #c5e9d3;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.5s;
}

.next:hover {
  transform: scale(0.95, 0.95);
  background: #7deaa7;
}

.prev {
  width: 7rem;
font-size: var(--sixteen);
  height: 1.75rem;
  text-align: center;
  background: #f26a6a4d;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.5s;
}

.prev:hover {
  transform: scale(0.95, 0.95);
  background: #fb404080;
}
