.header{
    background: #271871;
    width: 100%;
    text-align: center;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3{
    font-size: 24px;
    color: #fff;
}

.navigation{
    display: inline;
}

.navLink{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 1rem;
}

.navLink:hover{
    color: #fff;
    text-decoration: underline;
}